<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GameSalad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="GameSalad.Properties.Android" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GameSalad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<GameSalad.Properties.Settings>
   <setting name="GSAnalyticsServer2" serializeAs="String">
    <value>http://metrix-collector2.gamesalad.com</value>
   </setting>
   <setting name="GSAnalyticsPort2" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="UpdaterExecutable" serializeAs="String">
    <value>Updater.exe</value>
   </setting>
   <setting name="QQURLCookbook" serializeAs="String">
    <value>http://learn.gamesalad.com/your-first-game-windows</value>
   </setting>
   <setting name="URLCookbook" serializeAs="String">
    <value>http://learn.gamesalad.com/your-first-game-windows</value>
   </setting>
   <setting name="URLPricing" serializeAs="String">
    <value>http://gamesalad.com/upgrade</value>
   </setting>
   <setting name="QQURLHelpAbout" serializeAs="String">
    <value>http://cookbook.gamesalad.qq.com</value>
   </setting>
   <setting name="URLFeedback" serializeAs="String">
    <value>http://bugs.gamesalad.com/enter_bug.cgi?product=Creator</value>
   </setting>
   <setting name="GSURLCustomCollisionsDoc" serializeAs="String">
    <value>http://help.gamesalad.com/gamesalad-cookbook/2-making-it-better/custom-collision-shapes-2/</value>
   </setting>
  </GameSalad.Properties.Settings>
		<GameSalad.Properties.Android>
			<setting name="KeystorePath" serializeAs="String">
				<value>%HOMEDRIVE%%HOMEPATH%\.keystore</value>
			</setting>
			<setting name="KeyName" serializeAs="String">
				<value/>
			</setting>
			<setting name="KeytoolPath" serializeAs="String">
				<value/>
			</setting>
			<setting name="JarsignerPath" serializeAs="String">
				<value/>
			</setting>
			<setting name="ZipalignPath" serializeAs="String">
				<value/>
			</setting>
		</GameSalad.Properties.Android>
	</userSettings>
	<applicationSettings>
		<GameSalad.Properties.Settings>
   <setting name="PublishApiDomain" serializeAs="String">
    <value>publish.gamesalad.com</value>
   </setting>
   <setting name="PublishDomain" serializeAs="String">
    <value>publish.gamesalad.com</value>
   </setting>
   <setting name="GSAuthAPIDomain" serializeAs="String">
    <value>https://auth.gamesalad.com</value>
   </setting>
   <setting name="ArcadeDomain" serializeAs="String">
    <value>arcade.gamesalad.com</value>
   </setting>
   <setting name="GSAnalyticsServer" serializeAs="String">
    <value>http://metrix-collector1.gamesalad.com</value>
   </setting>
   <setting name="GSAnalyticsPort" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="GSURLBugReport" serializeAs="String">
    <value>http://bugs.gamesalad.com/gscbug/Creator/Windows</value>
   </setting>
   <setting name="PGFVersion" serializeAs="String">
    <value>0.25</value>
   </setting>
   <setting name="GSURLHelp" serializeAs="String">
    <value>http://help.gamesalad.com</value>
   </setting>
   <setting name="SignInURL" serializeAs="String">
    <value>creator/signIn.json</value>
   </setting>
   <setting name="CheckURL" serializeAs="String">
    <value>creator/check.json</value>
   </setting>
   <setting name="GsPublishVersion" serializeAs="String">
    <value>1.25</value>
   </setting>
   <setting name="GSPublicVersion" serializeAs="String">
    <value>1.25</value>
   </setting>
  </GameSalad.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
</configuration>
